<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjectDEW</display-name>

	<context-param>
        <param-name>ruta-logs</param-name> 
        <param-value>/home/dew/proyecto/logs/acceso.log</param-value>
    </context-param>
    
	<filter>
	    <filter-name>Logs</filter-name>
	    <filter-class>filtros.Logs</filter-class>
	</filter>

	 <filter-mapping>
	    <filter-name>Logs</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
  
	  <context-param>
	  <param-name>logs-activo</param-name>
	  <param-value>true</param-value>
	</context-param>

	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>